/* Color Palette */
:root {
    --fb-body: #083a4d;
    --fb-title-text: #fefeff;
    --fb-number-bgc: #1289b3;
    --fb-fizz-bgc: #0cd7a0;
    --fb-buzz-bgc: #ffd166;
    --fb-fizzbuzz-bgc: #f1466e;
}


/* Body */
body {
    background-color: var(--fb-body);
}

/*  Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* /Container */

/* Title  */
.title {
    color: var(--fb-title-text);
    font-size: 30px;
}
/* /Title */

/* List  */
#list {
    width: 80%;
    max-width: 800px;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.box {
    width: 100px;
    height: 100px;
    background-color: var(--fb-number-bgc);
    text-align: center;
    line-height: 100px;
}

.fizzbuzz{
    background-color: var(--fb-fizzbuzz-bgc);
}

.fizz{
    background-color: var(--fb-fizz-bgc);
}

.buzz{
    background-color: var(--fb-buzz-bgc);
}
/* /List */
/* /Bosy */